In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('4. covid_19_data.csv') #small dataset

In [3]:
df.head(10)

        Date State               Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN          Afghanistan       1939      60        252
1  4/29/2020   NaN              Albania        766      30        455
2  4/29/2020   NaN              Algeria       3848     444       1702
3  4/29/2020   NaN              Andorra        743      42        423
4  4/29/2020   NaN               Angola         27       2          7
5  4/29/2020   NaN  Antigua and Barbuda         24       3         11
6  4/29/2020   NaN            Argentina       4285     214       1192
7  4/29/2020   NaN              Armenia       1932      30        900
8  4/29/2020   NaN              Austria      15402     580      12779
9  4/29/2020   NaN           Azerbaijan       1766      23       1267

In [4]:
df.shape

(321, 6)

In [5]:
df.isnull().sum()

Date           0
State        181
Region         0
Confirmed      0
Deaths         0
Recovered      0
dtype: int64

#### Q. 1) Show the number of Confirmed, Deaths and Recovered cases in each Region.

In [17]:
df_temp = df.groupby('Region').sum().reset_index()

In [21]:
df_temp.head(10)

                Region  Confirmed  Deaths  Recovered
0          Afghanistan       1939      60        252
1              Albania        766      30        455
2              Algeria       3848     444       1702
3              Andorra        743      42        423
4               Angola         27       2          7
5  Antigua and Barbuda         24       3         11
6            Argentina       4285     214       1192
7              Armenia       1932      30        900
8            Australia       6752      91       5715
9              Austria      15402     580      12779

#### Q. 2) Remove all the records where the Confirmed Cases is Less Than 10.

In [26]:
df_conf = df[df.Confirmed > 10]
df_conf

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan       1939      60        252
1    4/29/2020       NaN         Albania        766      30        455
2    4/29/2020       NaN         Algeria       3848     444       1702
3    4/29/2020       NaN         Andorra        743      42        423
4    4/29/2020       NaN          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[301 rows x 6 columns]

#### Q. 3) In which Region, maximum number of Confirmed cases were recorded ?

In [29]:
df_temp = df_temp.sort_values(by= 'Confirmed', ascending=False)
df_temp.head(1)

    Region  Confirmed  Deaths  Recovered
174     US    1039909   60967     120720

#### Q. 4) In which Region, minimum number of Deaths cases were recorded ?

In [32]:
df_temp = df_temp.sort_values(by= 'Deaths', ascending=False)
df_temp.head(1)

    Region  Confirmed  Deaths  Recovered
174     US    1039909   60967     120720

#### Q. 5) How many Confirmed, Deaths & Recovered cases were reported from India till 29 April 2020 ?

In [47]:
df_temp['Month'] = df['Date'].apply(lambda x: x.split('/')[0]).astype(int)
df_temp['Day'] = df['Date'].apply(lambda x: x.split('/')[1]).astype(int)
df_temp['Year'] = df['Date'].apply(lambda x: x.split('/')[2]).astype(int)
df_temp.head(5)

     Region  Confirmed  Deaths  Recovered  Day  Month  Year
174      US    1039909   60967     120720   29      4  2020
83    Italy     203591   27682      71252   29      4  2020
173      UK     166441   26166        857   29      4  2020
158   Spain     236899   24275     132929   29      4  2020
59   France     166543   24121      49118   29      4  2020

In [49]:
print(df_temp.Day.value_counts())
print(df_temp.Month.value_counts())
print(df_temp.Year.value_counts())

29    187
Name: Day, dtype: int64
4    187
Name: Month, dtype: int64
2020    187
Name: Year, dtype: int64

In [45]:
df_temp[(df_temp['Day'] < 30) & (df_temp['Month'] < 5) & (df_temp['Year'] < 2021) & (df_temp['Region'] == 'India')]

   Region  Confirmed  Deaths  Recovered  Day  Month  Year
77  India      33062    1079       8437   29      4  2020

#### Q. 6-A ) Sort the entire data wrt No. of Confirmed cases in ascending order.

In [50]:
df.sort_values(by='Confirmed', ascending = True)

,Date,State,Region,Confirmed,Deaths,Recovered
285,4/29/2020,Recovered,US,0,0,120720
284,4/29/2020,Recovered,Canada,0,0,20327
203,4/29/2020,Diamond Princess cruise ship,Canada,0,1,0
305,4/29/2020,Tibet,Mainland China,1,0,1
289,4/29/2020,Saint Pierre and Miquelon,France,1,0,0
...,...,...,...,...,...,...
57,4/29/2020,NaN,France,165093,24087,48228
168,4/29/2020,NaN,UK,165221,26097,0
80,4/29/2020,NaN,Italy,203591,27682,71252
153,4/29/2020,NaN,Spain,236899,24275,132929
265,4/29/2020,New York,US,299691,23477,0

#### Q. 6-B ) Sort the entire data wrt No. of Recovered cases in descending order.

In [51]:
df.sort_values(by='Recovered', ascending = False)

          Date           State   Region  Confirmed  Deaths  Recovered
153  4/29/2020             NaN    Spain     236899   24275     132929
285  4/29/2020       Recovered       US          0       0     120720
61   4/29/2020             NaN  Germany     161539    6467     120400
76   4/29/2020             NaN     Iran      93657    5957      73791
80   4/29/2020             NaN    Italy     203591   27682      71252
..         ...             ...      ...        ...     ...        ...
248  4/29/2020        Maryland       US      20849    1078          0
246  4/29/2020        Manitoba   Canada        275       6          0
243  4/29/2020       Louisiana       US      27660    1845          0
241  4/29/2020        Kentucky       US       4537     234          0
215  4/29/2020  Grand Princess   Canada         13       0          0

[321 rows x 6 columns]

In [ ]:
#finish