In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('4. covid_19_data.csv') #small dataset

In [3]:
df.head(10)

        Date State               Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN          Afghanistan       1939      60        252
1  4/29/2020   NaN              Albania        766      30        455
2  4/29/2020   NaN              Algeria       3848     444       1702
3  4/29/2020   NaN              Andorra        743      42        423
4  4/29/2020   NaN               Angola         27       2          7
5  4/29/2020   NaN  Antigua and Barbuda         24       3         11
6  4/29/2020   NaN            Argentina       4285     214       1192
7  4/29/2020   NaN              Armenia       1932      30        900
8  4/29/2020   NaN              Austria      15402     580      12779
9  4/29/2020   NaN           Azerbaijan       1766      23       1267

In [4]:
df.shape

(321, 6)

In [5]:
df.isnull().sum()

Date           0
State        181
Region         0
Confirmed      0
Deaths         0
Recovered      0
dtype: int64

#### Q. 1) Show the number of Confirmed, Deaths and Recovered cases in each Region.

In [12]:
df_temp = df.groupby('Region').sum(['Confiermed', 'Deaths', 'Recovered'])

TypeError: f() takes 1 positional argument but 2 were given

In [10]:
df_temp.head()

          Date               State       Region  Confirmed  Deaths  Recovered
0    4/29/2020                 NaN  Afghanistan       1939      60        252
1    4/29/2020                 NaN      Albania        766      30        455
2    4/29/2020                 NaN      Algeria       3848     444       1702
3    4/29/2020                 NaN      Andorra        743      42        423
4    4/29/2020                 NaN       Angola         27       2          7
..         ...                 ...          ...        ...     ...        ...
264  4/29/2020     New South Wales    Australia       3016      40       2284
271  4/29/2020  Northern Territory    Australia         28       0         25
283  4/29/2020          Queensland    Australia       1033       6        943
296  4/29/2020        Sint Maarten  Netherlands         75      13         33
297  4/29/2020     South Australia    Australia        438       4        420

[217 rows x 6 columns]

#### Q. 2) Remove all the records where the Confirmed Cases is Less Than 10.

#### Q. 3) In which Region, maximum number of Confirmed cases were recorded ?

#### Q. 4) In which Region, minimum number of Deaths cases were recorded ?

#### Q. 5) How many Confirmed, Deaths & Recovered cases were reported from India till 29 April 2020 ?

#### Q. 6-A ) Sort the entire data wrt No. of Confirmed cases in ascending order.

#### Q. 6-B ) Sort the entire data wrt No. of Recovered cases in descending order.